 #voprosi {
   margin-top: 300px;
 }

#btn{
  margin-top: 10px;
}

#back {
   color: red;
   font-size: 20px;
}

.button {
	position	: relative;
  left		: 510px;
  top: 250px;
  width: 300px;
}

.window {
  font-weight: bolder;
	position	: absolute;
	top		: -30px;
	left		: 95px;
  vertical-align: middle;
	font-size:  40px;
  color: green;
}
