 p.one {
   text-shadow: 10px 10px 11px green;
   margin: 0px;
   font-weight: bolder;
   color:lime;
   font-size: 50px;
 }

div.four {
  color: white;
}

.button {
	position	: relative;
  left		: 510px;
  top: 250px;
  width: 300px;
}

.five {
  font-weight: bolder;
	position	: absolute;
	top		: -30px;
	left		: 95px;
  vertical-align: middle;
	font-size:  40px;
  color: green;
}

.bgi{
  width:232px;
  height:50px;
  position: relative;
}
