 .one {
   color:white;
   font-size: 50px
      }

      .image {
      	position	: relative;
      	width		: 100%; /* for IE 6 */
      }

      h2 {
      	position	: absolute;
      	top		: 200px;
      	left		: 0;
      	width		: 100%;
      }
